\documentclass[varwidth=100cm]{standalone}
\usepackage[utf8]{inputenc}
\usepackage{csquotes}
\usepackage{algpseudocode}

\begin{document}
\begin{algorithmic}[1]
\Statex
\Function{myFunc}{args}

\EndFunction
\end{algorithmic}
\end{document}
